.footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: 7rem;
	color: $color-grey-dark;
	padding: 8rem 0;
	border-top: 1px solid $color-grey-light;

	@media only screen and (max-width: 71.25em) {
		padding: 2rem 2rem;
	}

	@media only screen and (max-width: 25em) {
		gap: 4rem;
	}

	&__copy {
		margin-top: 1rem;
		white-space: nowrap;
	}

	&__payment {
		margin-top: 1.7rem;
	}

	&__nav {
		justify-self: center;
		@media only screen and (max-width: 25em) {
			grid-row: 2;
			justify-self: initial;
		}
	}

	&__nav-list {
		list-style: none;
		line-height: 1.5;
	}

	&__nav-list-item {
		font-size: 1.5rem;
	}

	&__box {
	}

	&__address {
		font-style: normal;
		margin-bottom: 2rem;

		&-tel {
			font-size: 2rem;
			margin-bottom: 1rem;
			white-space: nowrap;
		}

		&-postal {
			font-size: 1.5rem;
		}
	}

	.social-media {
		list-style: none;
		text-align: center;

		&__icon {
			display: inline-block;
			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}
	}
}
