.main {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 8rem 0;
}

body {
	padding: 0 8rem;

	@media only screen and (max-width: 71.25em) {
		padding: 0;
	}

	// Создает отступы разделам на небольших экранах
	& > section > * {
		@media only screen and (max-width: 71.25em) {
			padding: 0 2rem;
		}
	}
}