.product-gallery {
	padding-top: 5rem;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	grid-gap: 5rem;
	justify-items: center;

	@media only screen and (max-width: 48em) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 32.5em) {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	}
}
